<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%include ./navbar.ejs%>
  <title>Backlog</title>
</head>
<body class="container">

<div class="jumbotron">
    <h1>Issue</h1>
    <p>here is the list of issues</p>
</div>

<a type="button" href="/addIssue" class="btn btn-success btn-lg">Create new issue</a>

<ul class="list-unstyled"></ul>
<% issues.forEach(function(issue) { %>
    <li class="media my-4">
        
          
          <div class="media-body">
              <h5 class="mt-0 mb-1"><%= issue._id %></h5>
              <%= issue._name%>
              <%= issue._priority %>
          </div> 
          <form action="/deleteIssue" method="post">
            <input type="text" name="id" class="form-control" id="id" value="<%= issue._id %>" hidden>
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>  
          <a type="button" href="/updateIssue?id=<%=issue._id%>" class="btn btn-success btn-lg">Update</a>  
          
    </li>
<% }); %>
</ul>


</body>
</html>