<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title> Backlog </title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <!-- Custom css -->
  <link rel="stylesheet" href="/css/style.css">
  <%- include('./navbar.ejs', {project: project}) %>
  <script type="text/javascript" src="/js/scripts.js"></script>
</head>

<body>
  <div class="inner-container rounded mb-0 col-lg-12">

    <h1> Backlog </h1>

    <a href="/projects/<%= project._id %>/issues/create" class="btn btn-success">Nouvelle issue</a>
    <br />
    <div class="row">
      <% for( let issue of issues ){ %>
      <div class="col-lg-4">
        <div class="my-card rounded mb-0 <%=issue._color%>" role="alert">
          <a id="showButton<%=issue._id%>" onclick="showDetail('<%=issue._id%>')" class="btn btn-sq-xs btn-info">
            <i class="fas fa-chevron-circle-right fa-2x"></i>
          </a>
          <a id="hideButton<%=issue._id%>" onclick="hideDetail('<%=issue._id%>')" class="btn btn-sq-xs btn-info"
            style="display:none">
            <i class="fas fa-chevron-circle-down fa-2x"></i>
          </a>
          <a href="/projects/<%= project._id %>/issues/<%= issue._id %>/update" class="btn btn-sq-xs btn-primary">
            <i><i class="fas fa-pen"></i></i>
          </a>
          <form action="/projects/<%= project._id %>/issues/<%= issue._id %>/delete" method="POST"
            style="display: inline">
            <button type="submit" class="btn btn-sq-xs btn-danger"><i class="fas fa-trash-alt"></i></button>
          </form>

          <h3><%=issue._id%></h3>
          <h5><%=issue._description%></h5>
          


          <div id="<%= issue._id %>" style="display:none;">
            <p>Difficulté : <%=issue._difficulty%></p>
            <p>Priorité : <%=issue._priority%></p>
          </div>
        </div>
      </div>


      <!-- <form action="/projects/<%= project._id %>/tasks/<%= issue._id %>/linkTask" method="POST">
        <select name="taskList" id="taskList" size="1" selected="default">
          <option value="default"> Tâche à lier </option>
          <% for( let task of tasks ){ %>
          <option value=<%=task._id%>> <%=task._id%> </option>
          <% } %>
        </select>
        <button type="submit" class="btn btn-success">Lier la tâche</button>
      </form>

      <a href="/projects/<%= project._id %>/tasks/<%= issue._id %>/tiedTask" class="btn btn-success"> Créer une tâche
        liée</a> -->

      <% } %>
    </div>
  </div>
</body>

</html>