<!DOCTYPE html>
<html>

<head>
    <title> Backlog </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%- include('./navbar.ejs', {project: project}) %>
</head>

<body>
    <div class="container">
        
        <h2> Backlog </h2>
        <a href="/projects/<%= project._id %>/issues/create" class="btn btn-success"> Nouvelle issue </a>
        <% for( let issue of issues ){ %>
        <li>
            <div>ID : <%= issue._id %></div>
            <div>Nom : <%= issue._name %></div>
            <div>Description : <%= issue._description %></div>
            <div>Priorié : <%= issue._priority %></div>
            <div>Difficulté : <%= issue._difficulty %></div>
            <a href="/projects/<%= project._id %>/issues/<%= issue._id %>/update" class = "btn btn-primary"> Modifier </a>

            <form action="/projects/<%= project._id %>/issues/<%= issue._id %>/delete" method="POST">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </li>
        <% } %>
    </div>
</body>

</html>