<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title> Release </title>
  <%- include('./navbar.ejs', {project: project}) %>
  <script>
    function showDetail(id) {
      document.getElementById(id).style.display = ''
      document.getElementById("showButton" + id).style.display = 'none'
      document.getElementById("hideButton" + id).style.display = ''
    }
    function hideDetail(id) {
      document.getElementById(id).style.display = 'none'
      document.getElementById("showButton" + id).style.display = ''
      document.getElementById("hideButton" + id).style.display = 'none'
    }
  </script>
</head>

<body>
  <div class="container">

    <h2> Release </h2>
    <a href="/projects/<%= project._id %>/releases" class="btn btn-success"> Retour à la liste des releases </a>
    <div>
      <h5><%=release._version%></h5>
      Date de la release : <%=release._date%> </br>
      Description : <%=release._description%> </br>
      Difficulté réalisée : <%=release._difficultyAchieved%>
    </div>
    <% for( let issue of issues ){ %>
    <li class="media my-4">
      <button id="showButton<%=issue._id%>" class="btn btn-info" onclick="showDetail('<%=issue._id%>')">Plus</button>
      <button id="hideButton<%=issue._id%>" class="btn btn-info" onclick="hideDetail('<%=issue._id%>')"
        style="display:none">Moins</button>
      <div class="media-body <%=issue._color%>" role="alert">
        <h5>ID : <%=issue._issueID%></h5>
        Difficulté : <%=issue._difficulty%> Priorité : <%=issue._priority%>
      </div>
    </li>
    <div id="<%= issue._id %>" style="display:none;">
      <p>Description : <%=issue._description%></p>
    </div>
    <% } %>
  </div>
</body>

</html>