<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> Sprints </title>
    <%- include('./navbar.ejs', {project: project}) %>
</head>

<body>
    <div class="container">
        
        <h2> Sprints </h2>
        <a href="/projects/<%= project._id %>/sprints/create" class="btn btn-success"> Nouveau sprint </a>
        <% for(const sprint of sprints){ %>
        <li class="media my-4">
            <a href="/projects/<%= project._id %>/sprints/<%=sprint._id%>" class="btn btn-success"> Voir sprint </a>
            <div class="media-body <%=sprint._color%>" role="alert">
              <h5>ID : <%=sprint._id%></h5>
              Difficulté total : <%=sprint._totalDifficulty%>
            </div>

            <form action="/projects/<%= project._id %>/sprints/<%=sprint._id%>/linkIssue" method="POST"> 
              <select name="issueList" id="issueList" size="1" selected="default">
                <option value="default"> User story à lier </option>
                <% for( let issue of issues ){ %>
                  <option value=<%=issue._id%>> <%=issue._id%> </option>
                <% } %>
              </select>
              <button type="submit" class="btn btn-success">Lier l'user story</button>
            </form>

            <a href="/projects/<%= project._id %>/sprints/<%= sprint._id %>/update" class = "btn btn-primary"> Modifier</a>

            <form action="/projects/<%= project._id %>/sprints/<%= sprint._id %>/delete" method="POST">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </li>
        <% } %>
    </div>
</body>

</html>